* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  background: linear-gradient(to right, #272727, #0f0b27);
  justify-content: center;
  height: 100vh;
  color: white;
  
}

.announcement {
  padding: .8rem 2rem;
  border-radius: 29px;
  background-color: #292929;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: background-color 0.3s ease;
  border: 1px solid rgb(90, 89, 89);

}

.announcement-link {
  text-decoration: none;
  color: white;
  
  /*  */
}

.announcement:hover {
  background-color: #353433;
}

.announcement-text {
  font-size: 1.25rem;
  
}

.announcement-button {
  padding: 0.4rem 1.2rem;
  border-radius: 18px;
  background-color: #3e3d3c;
  color: white;
  margin-left: 1rem;
}

.hero-content {
  padding: 2rem;
  text-align: center;
  max-width: 69%;
  padding-top: 0;
  
}

.hero-title {
  font-size: 4rem;
  margin-bottom: 1rem;
  line-height:1.3;
  font-weight: bold;
}

.hero-description {
  font-size: 1.4rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.cta-button {
  padding: 0.8rem 1.8rem;
  border-radius: 29px;
  background-color: #3e3d3c;
  color: white;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(203, 187, 187, 0.2);
  border: 1px solid rgb(90, 89, 89);
  text-decoration: none;
  font-size: 1.1rem;
  background: linear-gradient(to right, #0a19f0, #9a3ba3);
}

.cta-button:hover {
  box-shadow: 0 3px 4px rgba(171, 166, 166, 0.3);

}

@media (max-width: 640px) {
  .hero {
    padding: 1rem;
  }

  .announcement-link {
    font-size: 0.75rem;
  }

  .hero-content {
    padding: 0 1rem;
  }
}
